<p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p align="center">
    <b>2016 NFL Scoreboard</b>
</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= @nfl_data['weeks'][0]['games'][0]['away']['name'] %> <br>
    <%= @nfl_data['weeks'][0]['games'][0]['scoring']['away_points'] %> <br>
    <%= @nfl_data['weeks'][0]['games'][0]['home']['name'] %> <br>
    <%= @nfl_data['weeks'][0]['games'][0]['scoring']['home_points'] %>
</p>
