body {
    margin: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: blue;
}
.mainlogo {
    font-size: 48px;
    font-family: Impact, Helvetica, serif;
    text-align: center;
    color: #164c04;
    opacity: 0.75;
    box-shadow: 10px 10px 10px 25px #1e66db;
    background-color: #ba4376;
    transform: skewX(-5.75deg);
    letter-spacing: 0.15em;
}
.nfllogos {
    position: fixed;
    height: auto;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}
.page {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.favoriteteam {
    /*box-shadow: 1px 1px 1px 3px blue;
    height: 30px;
    width: 300px;*/
    position: relative;
    /*background-color: gold;*/
    opacity: 0.75;
    font-family: Arial;
    font-weight: bold;
    color: blue;
    margin: auto;
    font-size: 25px;
}
.teamform {
    color: green;
}
.teampick {
    box-shadow: 1px 1px 1px 3px blue;
    font-size: 25px;
    height: 90px;
    width: 300px;
    line-height: 20px;
    margin: auto;
    position: relative;
    background-color: gold;
    opacity: 0.75;
    font-family: Arial;
    font-weight: bold;
    color: brown
}
.teampick2 {
    color: brown;
    font-size: 16px;
}
.faveteam {
    color: black;
}
.gameform {
    box-shadow: 1px 1px 1px 5px red;
    background-color: green;
    font-family: "Times New Roman";
    margin: auto;
    position: relative;
    height: 50px;
    width: auto;
    font-weight: bold;
    opacity: 0.75;
    height: 75px;
    line-height: 75px;
    font-size: 35px;
    letter-spacing: 0.1em;
}
.searchform {
    box-shadow: 1px 1px 1px 5px orange;
    background-color: black;
    position: relative;
    margin: auto;
    font-size: 25px;
    height: 40px;
    width: 300px;
    color: white;
    opacity: 0.75;
}
.catch {
    position: relative;
    top: 250px;
    left: -1px;
    z-index: 1;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.beckham {
    position: relative;
    height: 275px;
    top: -40px;
    width: 500px;
    opacity: 0.8;
}
/*.catch2 {
    position: relative;
    top: -340px;
    left: 380px;
}
.harrison {
    position: relative;
    left: 375px;
    top: -355px;
    height: 275px;
    width: 400px;
}*/
/*.scorespage {
    margin: px;
}*/
.scorespage {
    display: inline-block;
    height: 100%;
    width: auto;
    float: left;
}
.away {
    height: 35px;
}
.home {
    height: 35px;
    top: 20px;
}
.gamescore {
    float: left;
    flex-wrap: wrap;
    display: inline-block;
    height: 80px;
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    top: 100px;
    margin: 18px;
    background-color: #f4d142;
}
.awayteam {
    float: left;
    height: 50px;
    width: 300px;
    font-style: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.awaypoints {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}
.hometeam {
    float: left;
    height: 50px;
    width: 300px;
    position: relative;
    font-style: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.homepoints {
    color: blue;
    font-weight: bold;
    position: relative;
    font-size: 20px;
    top: 5px;
}
.gamescore1 {
    position: relative;
    margin: auto;
    left: 5px;
    margin: auto;
    height: 80px;
    width: 630px;
    border: 3px solid black;
    padding: 10px;
    background-color: #adc9ea;
}
.awayteam1 {
    height: 50px;
    width: 300px;
    font-style: Verdana;
    font-weight: bold;
    color: #355e03;
    font-size: 30px;
}
.awaypoints1 {
    color: #9b072c;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: -50px;
    float: right;
}
.hometeam1 {
    height: 50px;
    width: 300px;
    position: relative;
    font-style: Verdana;
    font-weight: bold;
    font-size: 30px;
    color: #355e03;
}
.homepoints1 {
    color: #9b072c;
    font-weight: bold;
    position: relative;
    font-size: 30px;
    top: -50px;
    left: 37px;
    float: right;
}
.commenthead {
    position: relative;
    font-style: Georgia serif;
    font-size: 26px;
    text-align: center;
    left: 200px;
}
.nfllogos1 {
    position: absolute;
    height: auto;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}
.field {
    height: 20px;
    width: 200px;
}
.commentform {
    position: relative;
    height: 200px;
    width: 400px;
    margin: auto;
    top: 50px;
    left: 125px;
}
