body {
    margin: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: blue;
}
.awayteam1 > a {
    color: #9b072c;
}
.hometeam1 >a {
    color: #9b072c;
}
.mainlogo {
    font-size: 48px;
    font-family: Impact, Helvetica, serif;
    text-align: center;
    color: #164c04;
    opacity: 0.75;
    box-shadow: 10px 10px 10px 25px #1e66db;
    background-color: #ba4376;
    transform: skewX(-5.75deg);
    letter-spacing: 0.15em;
}
.nfllogos {
    position: fixed;
    height: auto;
    width: 100%;
    top: -20px;
    opacity: 0.15;
    z-index: -1;
}
.page {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.favoriteteam {
    /*box-shadow: 1px 1px 1px 3px blue;
    height: 30px;
    width: 300px;*/
    position: relative;
    /*background-color: gold;*/
    opacity: 0.75;
    font-family: Arial;
    font-weight: bold;
    color: blue;
    margin: auto;
    font-size: 25px;
}
.teamform {
    color: green;
}
.teampick {
    box-shadow: 1px 1px 1px 3px blue;
    font-size: 25px;
    height: 90px;
    width: 300px;
    line-height: 20px;
    margin: auto;
    position: relative;
    background-color: gold;
    opacity: 0.75;
    font-family: Arial;
    font-weight: bold;
    color: brown
}
.teampick2 {
    color: brown;
    font-size: 16px;
}
.faveteam {
    color: black;
}
.gameform {
    box-shadow: 1px 1px 1px 5px red;
    background-color: green;
    color: #160060;
    text-shadow: 0.5px 0.5px orange;
    font-family: "Times New Roman";
    margin: auto;
    position: relative;
    height: 50px;
    width: auto;
    font-weight: bold;
    opacity: 0.75;
    height: 75px;
    line-height: 75px;
    font-size: 32px;
}
.searchform {
    box-shadow: 1px 1px 1px 2px blue;
    position: relative;
    margin: auto;
    font-size: 25px;
    height: 40px;
    width: 300px;
    color: black;
    opacity: 0.75;
}
.catch {
    position: relative;
    top: 250px;
    left: -1px;
    z-index: 1;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.beckham {
    position: relative;
    height: 275px;
    top: -40px;
    width: 500px;
    opacity: 0.8;
}
/*.catch2 {
    position: relative;
    top: -340px;
    left: 380px;
}
.harrison {
    position: relative;
    left: 375px;
    top: -355px;
    height: 275px;
    width: 400px;
}*/
/*.scorespage {
    margin: px;
}*/
/*.scorescontainer {
    position: relative;
    height: 100%;
    width: auto;
}*/
.scorespage {
    display: inline-block;
    position: relative;
    margin: 0;
    height: 100%;
    width: 400px;
}
.welcomeweek {
    height: 40px;
    color: #007a53;
    text-shadow: 1px 1px red;
    /*border: 1px #0713f9;*/
    width: 400px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 20px;
    left: -25px;
    background-color: #ea9875;
}
.away {
    height: 35px;
}
.home {
    height: 35px;
}
.gamescore {
    float: left;
    height: 80px;
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    margin: 25px;
    /*background-color: #f4d142;*/
    background: linear-gradient(white, #f4d142, orange);
}
.awayteam {
    float: left;
    height: 50px;
    width: 300px;
    font-style: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.awaypoints {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    float: right;
}
.hometeam {
    float: left;
    height: 50px;
    width: 300px;
    position: relative;
    font-style: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.homepoints {
    color: blue;
    float: right;
    font-weight: bold;
    position: relative;
    font-size: 20px;
}
.gamescore1 {
    position: relative;
    margin: auto;
    left: 5px;
    top: 20px;
    margin: auto;
    height: 77px;
    width: 575px;
    border: 3px solid black;
    padding: 10px;
    opacity: 0.8;
    background: linear-gradient(white, gray);
}
.quart {
    font-size: 20px;
    color: green;
    text-shadow: 1px 1px blue;
}
.awayteam1 {
    height: 50px;
    width: 350px;
    position: relative;
    top: -10px;
    font-style: Verdana;
    font-weight: bold;
    color: #9b072c;
    font-size: 30px;
}
.awaypoints1 {
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px brown;
    font-size: 31px;
    position: relative;
    top: -60px;
    float: right;
    padding: 1px;
}
.hometeam1 {
    height: 50px;
    width: 350px;
    position: relative;
    top: -1px;
    font-style: Verdana;
    font-weight: bold;
    font-size: 30px;
    color: #9b072c;
}
.homepoints1 {
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px brown;
    position: relative;
    font-size: 31px;
    top: -53px;
    left: 40px;
    float: right;
    padding: 1px;
}
.commenthead {
    font-style: Georgia serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    height: 100px;
    /*color: #ccc90a;*/
    text-shadow: 1px 1px white;
    margin: 50px;
    /*text-align: center;
    margin: auto;*/
}
/*.commenthead > p {
    position: relative;
    text-align: center;
}*/
/*#commentheads {
    text-align: center;
    position: relative;
    color: blue;
    font-weight: bold;
    font-size: 24px;
}*/
.nfllogos1 {
    position: fixed;
    height: auto;
    width: 100%;
    top: -20px;
    opacity: 0.15;
    z-index: -1;
}
.field {
    height: 20px;
    width: 200px;
}
.titlebox {
    position: relative;
    left: 110px;
}
.titletitle {
    text-align: center;
}
.commenttitle {
    text-align: center;
}
.commentform {
    position: relative;
    height: 200px;
    width: 400px;
    margin: auto;
    top: 5px;
    left: 50px;
}
.commenthead2 {
    left: 10px;
    font-size: 23px;
    position: relative;
    font-family: Georgia;
    margin: auto;
    font-weight: bold;
    color: #ccbb06;
}
.commentsection {
    position: relative;
    margin: auto;
    border: 1px solid black;
    height: 400px;
    width: 600px;
    text-align: center;
    font-size: 15px;
    color: blue;
    box-shadow: 5px 10px 50px 20px green;
    background: linear-gradient(red, yellow);
    /*5px 5px 15px 5px #1cd8bb,
    5px 5px 15px 5px #d8971e,
    5px 5px 15px 5px #ced81d;*/
}
.teaminfo {
    /*border: 3px solid green;*/
    height: 200px;
    width: 400px;
    padding: 15px;
    margin: auto;
    font-size: 16px;
    font-family: Georgia;
    font-weight: bold;
    /*text-align: center;*/
}
.teamname {
    position: relative;
    left: 15px;
    font-size: 45px;
    text-align: center;
    margin: 0;
    font-family: Verdana serif;
    letter-spacing: 0.1em;
    /*text-shadow: 1px 1px orange;*/
}
#teamstuff {
    float: right;
    border: 2px solid black;
    padding: 1px;
    color: blue;
    background-color: silver;
    opacity: 0.8;
}
#teamdata {
    /*border: 1px solid black;*/
    height: 200px;
    width: 400px;
}
.teamspage {
    height: 100%;
    width: auto;
    background-repeat: repeat;
}
.teamspage > body {
    background-repeat: repeat;
}
.teamlogo {
    position: relative;
    height: 232px;
    width: 430px;
    opacity: 0.4;
    left: -15px;
    top: -205px;
    z-index: -1;
    background-repeat: repeat;
    /*border-image-repeat: stretch|repeat|round|initial|inherit;*/
}
.nfllogos2 {
    position: fixed;
    height: auto;
    width: 100%;
    top: -20px;
    opacity: 0.05;
    z-index: -1;
}
.topnav {
    position: relative;
    background-color: #0b09a0;
    overflow: hidden;
    opacity: 0.7;
}
/*.topnav a {
    margin: auto;
    position: relative;
    left: 460px;
    display: inline-block;
    color: #f2f2f2;
    /*text-align: center;
    margin: 7px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia;
    border: 1px solid green;*/
/*}*/
#myTopnav {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2px;
    padding: 7px 28px;
    text-decoration: none;
    left: 50px;
    font-size: 20px;
    font-family: Georgia;
    height: 15px;
    width: 350px;
    line-height: 15px;
}
#myTopnav a {
    position: relative;
    padding: 15px;
    color: white;
}
.menusubmit {
    border: 1px solid green;
    box-shadow: 1px 1px 1px 5px orange;
    background-color: black;
    width: 300px;
    height: 40px;
    margin: auto;
}
.registerform {
    height: 220px;
    width: 250px;
    background-color: gold;
    font-size: 19px;
    font-weight: bold;
    font-family: Georgia serif;
    position: relative;
    margin: auto;
    padding: 2px;
    border: 1px solid blue;
}
.field {
    height: 50px;
    width: 150px;
    position: relative;
    left: 50px;
    margin: 5px;
    padding: 10px;
}
.hello {
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana serif;
    left: 10px;
    color: green;
    height: 50px;
    width: 200px;
    margin: auto;
}
.actions {
    text-align: center;
    color: orange;
    font-size: 20px;
}
.render {
    margin: auto;
    font-size: 18px;
    top: 60px;
    position: relative;
    text-align: center;
}
.registerform2 {
    height: 500px;
    width: 250px;
    background-color: gold;
    font-size: 19px;
    font-weight: bold;
    font-family: Georgia serif;
    position: relative;
    margin: auto;
    padding: 2px;
    border: 1px solid blue;
}
.field2 {
    height: 60px;
    width: 180px;
    position: relative;
    left: 50px;
    margin: 5px;
    padding: 10px;
}
.field3 {
    height: 250px;
    width: 350px;
    position: relative;
    background-color: orange;
    left: -30px;
    top: -81px;
    margin: 5px;
    padding: 10px;
    opacity: 0.9;
}
.textarea {
    width: 500px;
}
.actions3 {
    width: 200px;
    left: 115px;
    position: relative;
}
.scoring {
    position: absolute;
    left: 270px;
    top: 5px;
    height: 100px;
    width: 350px;
    /*border: 1px solid blue;*/
}
.quarterstable {
    position: relative;
    left: 20px;
    top: -103.25px;
    color: #065f6d;
    float: left;
    display: inline-block;
    color: red;
    text-shadow: 1px 1px black;
    font-size: 24.5px;
    font-weight: bold;
    margin: 2px;
    height: 20px;
    width: 292px;
    padding: 10px 20px;
}
.awayteampoints {
    float: left;
    position: relative;
    display: inline-block;
    margin: auto;
    color: red;
    font-size: 25px;
    font-weight: bold;
    left: -1px;
    top: -38px;
    margin: 10px;
    height: 20px;
    width: 292px;
    padding: 10px 20px;
    border: 1px solid blue;
}
.hometeampoints {
    float: left;
    position: relative;
    display: inline-block;
    color: red;
    font-size: 25px;
    font-weight: bold;
    left: 1px;
    top: -45px;
    margin: 7px;
    height: 30px;
    width: 314px;
    padding: 7px 10px;
    border: 1px solid blue;
}
#homepoints {
    float: left;
    position: relative;
    display: inline-block;
    margin: 23.5px;
    color: red;
    line-height: 10px;
    top: -13px;
}
.quarterpoints {
    float: left;
    /*margin: auto;*/
    text-align: center;
    position: relative;
    display: flex;
    padding: 15px 27px;
    top: -38px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}
.quarterpoints2 {
    float: left;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 15px 27px;
    top: -48px;
    left: 5px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}
/*#quarterpointz {
    float: left;
    position: relative;
    display: inline-block;
}*/
/*#quarter {
    display: inline;
    float: left;
    position: absolute;
    top: 50px;
    border: 1px solid blue;
    height: 40px;
    width: 150px;
}*/
/*#points {
    display: inline-block;
    float: left;
    position: absolute;
    border: 1px solid blue;
    height: 40px;
    width: 150px;
}*/
