body {
    margin: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: blue;
}
.awayteam1 > a {
    color: black;
}
.hometeam1 >a {
    color: black;
}
.mainlogo {
    font-size: 48px;
    font-family: Impact, Helvetica, serif;
    text-align: center;
    border: 1px solid blue;
    background-color: #e6ecef;
    margin: auto;
    color: blue;
    opacity: 0.85;
    letter-spacing: 0.1em;
}
.nfllogos {
    position: fixed;
    height: 2000px;
    width: 100%;
    top: -20px;
    opacity: 0.075;
    z-index: -1;
}
.page {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.favoriteteam {
    position: relative;
    opacity: 0.75;
    font-family: Arial;
    font-weight: bold;
    color: black;
    margin: auto;
    font-size: 25px;
}
.teamform {
    color: green;
}
.teampick {
    font-size: 25px;
    height: 90px;
    width: 300px;
    line-height: 20px;
    margin: auto;
    position: relative;
    background-color: silver;
    opacity: 0.75;
    font-family: Arial;
    font-weight: bold;
    color: brown
}
.teampick2 {
    font-size: 25px;
    font-weight: bold;
    font-style: Arial serif;
}
.faveteam {
    color: blue;
}
.weekbutton {
    color: green;
}
.gameform {
    box-shadow: 1px 1px 1px 5px blue;
    background-color: #e6ecef;
    color: #160060;
    text-shadow: 0.5px 0.5px orange;
    font-family: "Times New Roman";
    margin: auto;
    width: 500px;
    position: relative;
    height: 50px;
    font-weight: bold;
    opacity: 0.75;
    height: 75px;
    line-height: 75px;
    font-size: 32px;
}
.searchform {
    position: relative;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    height: 40px;
    width: 400px;
    color: black;
    opacity: 0.75;
}
.catch {
    position: relative;
    top: 250px;
    left: -1px;
    z-index: 1;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.beckham {
    position: relative;
    height: 275px;
    top: -40px;
    width: 500px;
    opacity: 0.8;
}
.scorespage {
    display: inline-block;
    position: relative;
    margin: 0;
    height: 100%;
    width: 400px;
}
.welcomeweek {
    height: 40px;
    text-shadow: 1px 1px blue;
    width: 400px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 25px;
    left: -8px;
    color: black;
}
.away {
    height: 35px;
}
.home {
    height: 35px;
}
.gamescore {
    float: left;
    height: 80px;
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    margin: 25px;
    background-color: silver;
}
.awayteam {
    float: left;
    height: 50px;
    width: 300px;
    font-style: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.awaypoints {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    float: right;
}
.hometeam {
    float: left;
    height: 50px;
    width: 300px;
    position: relative;
    font-style: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.homepoints {
    color: blue;
    float: right;
    font-weight: bold;
    position: relative;
    font-size: 20px;
}
.gamescore1 {
    position: relative;
    margin: auto;
    left: 5px;
    top: 20px;
    margin: auto;
    height: 77px;
    width: 575px;
    border: 3px solid black;
    padding: 10px;
    opacity: 0.8;
}
.quart {
    font-size: 20px;
    color: green;
    text-shadow: 1px 1px blue;
}
.awayteam1 {
    height: 50px;
    width: 350px;
    position: relative;
    top: -10px;
    font-style: Verdana;
    font-weight: bold;
    color: #9b072c;
    font-size: 30px;
}
.awaypoints1 {
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px brown;
    font-size: 31px;
    position: relative;
    top: -60px;
    float: right;
    padding: 1px;
}
.hometeam1 {
    height: 50px;
    width: 350px;
    position: relative;
    top: -1px;
    font-style: Verdana;
    font-weight: bold;
    font-size: 30px;
    color: #9b072c;
}
.homepoints1 {
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px brown;
    position: relative;
    font-size: 31px;
    top: -53px;
    left: 40px;
    float: right;
    padding: 1px;
}
.scoringhead {
    font-style: Verdana serif;
    font-weight: bold;
    top: -15px;
    text-align: center;
    margin: 50px;
    font-size: 22px;
    text-shadow: 1px 1px green;
}
.scoringheadbox {
    box-shadow: 1px 1px 3px 3px blue;
    width: 400px;
    margin: auto;
    background-color: silver;
}
.scoringsummary {
    top: -40px;
    font-size: 15px;
    width: 500px;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0.9;
    position: relative;
    text-align: center;
    margin: auto;
    border: 3px solid blue;
}
.awayteamstats {
    position: relative;
    top: -20px;
    width: 200px;
    border: 1px solid blue;
    display: inline-block;
}
#yardaway {
    position: relative;
    text-align: center;
    font-size: 15px;
}
#yardaway1 {
    position: relative;
    text-align: center;
    font-size: 17px;
    text-decoration: underline;
}
#yardsaway {
    position: relative;
    text-align: center;
    font-size: 15px;
}
.hometeamstats {
    position: relative;
    top: -20px;
    width: 200px;
    border: 1px solid blue;
    display: inline-block;
}
#yardhome {
    position: relative;
    text-align: center;
    font-size: 15px;
}
#yardhome1 {
    position: relative;
    text-align: center;
    font-size: 17px;
    text-decoration: underline;
}
#yardshome {
    position: relative;
    font-size: 15px;
    text-align: center;s
}
.commenthead {
    font-style: Georgia serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 100px;
    text-shadow: 1px 1px white;
    margin: 50px;
}
.nfllogos1 {
    position: fixed;
    height: 2000px;
    width: 100%;
    top: -20px;
    opacity: 0.05;
    z-index: -1;
}
.field {
    height: 20px;
    width: 200px;
}
.titlebox {
    position: relative;
    left: 210px;
}
.titletitle {
    text-align: center;
    font-weight: bold;
}
.commenttitle {
    text-align: center;
    font-weight: bold;
}
.commentform {
    position: relative;
    height: 200px;
    width: 400px;
    margin: auto;
    top: 5px;
    left: 50px;
}
.commenthead2 {
    left: 10px;
    font-size: 23px;
    position: relative;
    font-family: Georgia;
    margin: auto;
    font-weight: bold;
    color: black;
}
.commentsection {
    position: relative;
    margin: auto;
    overflow: hidden;
    border: 1px solid black;
    height: 400px;
    width: 600px;
    text-align: center;
    font-size: 15px;
    color: black;
    box-shadow: 5px 10px 50px 20px blue;
}
.teaminfo {
    height: 200px;
    width: 400px;
    padding: 15px;
    margin: auto;
    font-size: 16px;
    font-family: Georgia;
    font-weight: bold;
}
.teamname {
    position: relative;
    left: 15px;
    font-size: 45px;
    text-align: center;
    margin: 0;
    font-family: Verdana serif;
    letter-spacing: 0.1em;
}
#teamstuff {
    float: right;
    border: 2px solid black;
    padding: 1px;
    color: blue;
    background-color: silver;
    opacity: 0.8;
}
#teamdata {
    height: 200px;
    width: 400px;
}
.teamspage {
    height: 100%;
    width: auto;
    background-repeat: repeat;
}
.teamspage > body {
    background-repeat: repeat;
}
.teamlogo {
    position: relative;
    height: 232px;
    width: 430px;
    opacity: 0.4;
    left: -15px;
    top: -205px;
    z-index: -1;
    background-repeat: repeat;
}
.teamlogo2 {
    position: relative;
    height: 124px;
    width: 303px;
    opacity: 0.7;
    left: -1px;
    top: -21px;
    z-index: -1;
    background-repeat: repeat;
}
.nfllogos2 {
    position: fixed;
    height: 2000px;
    width: 100%;
    top: -20px;
    opacity: 0.05;
    z-index: -1;
}
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #1c8dea;
    opacity: 0.7;
}
#myTopnav {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    padding: 4px 10px;
    text-decoration: none;
    /*left: 430px;*/
    font-size: 20px;
    font-family: Georgia;
    height: 25px;
    width: 350px;
    line-height: 25px;
    border: 1px solid black;
}
#myTopnav a {
    position: relative;
    padding: 15px;
    color: white;
    text-shadow: 1px 1px black;
}
.menusubmit {
    border: 1px solid green;
    box-shadow: 1px 1px 1px 5px orange;
    background-color: black;
    width: 500px;
    height: 60px;
    margin: auto;
}
.registerform {
    height: 290px;
    width: 350px;
    background-color: #0eaaed;
    font-size: 19px;
    font-weight: bold;
    font-family: Georgia serif;
    position: relative;
    margin: auto;
    padding: 2px;
    border: 1px solid blue;
}
.field {
    height: 50px;
    width: 150px;
    position: relative;
    left: 95px;
    margin: 5px;
    top: 10px;
    padding: 10px;
}
.hello {
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana serif;
    left: 10px;
    color: black;
    text-shadow: 1px 1px white;
    height: 50px;
    width: 200px;
    margin: auto;
}
.actions {
    text-align: center;
    color: orange;
    font-size: 20px;
}
.render {
    margin: auto;
    font-size: 18px;
    top: 60px;
    position: relative;
    text-align: center;
}
.registerform2 {
    height: 550px;
    width: 350px;
    background-color: #0eaaed;
    font-size: 19px;
    font-weight: bold;
    font-family: Georgia serif;
    position: relative;
    margin: auto;
    padding: 2px;
    border: 1px solid blue;
}
.field2 {
    height: 120px;
    width: 280px;
    position: relative;
    left: 50px;
    margin: 5px;
    padding: 10px;
}
.field3 {
    height: 250px;
    width: 550px;
    position: relative;
    background-color: silver;
    left: -140px;
    top: -81px;
    margin: 5px;
    padding: 10px;
    opacity: 0.9;
}
.textarea {
    width: 500px;
}
.actions3 {
    width: 200px;
    left: 230px;
    position: relative;
}
.scoring {
    position: absolute;
    left: 270px;
    top: 5px;
    height: 100px;
    width: 350px;
}
.quarterstable {
    position: relative;
    left: 20px;
    top: -103.25px;
    color: #065f6d;
    float: left;
    display: inline-block;
    color: red;
    text-shadow: 1px 1px black;
    font-size: 24.5px;
    font-weight: bold;
    margin: 2px;
    height: 20px;
    width: 292px;
    padding: 10px 20px;
}
.awayteampoints {
    float: left;
    position: relative;
    display: inline-block;
    margin: auto;
    color: red;
    font-size: 25px;
    font-weight: bold;
    left: -1px;
    top: -38px;
    margin: 10px;
    height: 20px;
    width: 292px;
    padding: 10px 20px;
    border: 1px solid blue;
}
.hometeampoints {
    float: left;
    position: relative;
    display: inline-block;
    color: red;
    font-size: 25px;
    font-weight: bold;
    left: 1px;
    top: -45px;
    margin: 7px;
    height: 30px;
    width: 314px;
    padding: 7px 10px;
    border: 1px solid blue;
}
#homepoints {
    float: left;
    position: relative;
    display: inline-block;
    margin: 23.5px;
    color: red;
    line-height: 10px;
    top: -13px;
}
.quarterpoints {
    float: left;
    text-align: center;
    position: relative;
    display: flex;
    padding: 15px 27px;
    top: -38px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}
.quarterpoints2 {
    float: left;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 15px 27px;
    top: -48px;
    left: 5px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}
